pandas==2.0.3
pytest
pylint
pydocstyle
numpy
matplotlib==3.7.2
scipy
opencv-python
pillow
pyinstaller==6.10.0
pymongo==4.6.3
pyqt6
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr==2.8.5
fastapi==0.101.1
tensorflow==2.12.1
tqdm
seaborn
PyJWT==2.10.1
flask_jwt_extended
fastapi_auth
uvicorn==0.23.2
tesserocr
